# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#添加忽略规则
#过滤Keil工程文件
*.bak
*.MAP
*.lnp
*.M51
*.LST
*.OBJ
*.plg
*.project
*.uvopt
*.uvproj
*.BAT
*.SBR
*.hex
*.log
*.opj
*.opensdf
*.uvgui.*

#过滤IAR工程文件
Backup of*
*.r51
*.pbi
*.cout
*.d51
*.pbd
*.browse
*.dep
*.dni
*.wsdt

#过滤压缩包
*.rar
*.zip
*.7z
*.iso
*.jar
*.tar
*.gz
*.dmg

#过滤文档
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.htm
*.html
*.png
*.jpg
*.gif
*.jpeg
*.bmp
*.css

#过滤文件夹
*/Documents/


